# Build folders
Debug/
Release/
x64/
x86/
bin/
bin-int/
moc/
build/
obj/ 

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.user
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters

# QT files
.qmake.stash
*.qtvscr

# Compiled files
*.obj
*.exe
*.pdb

# Sensitive files
.env
