# Build folders
Debug/
Release/
x64/
x86/
bin/
obj/ 

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.user
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters

# Compiled files
*.obj
*.exe
*.pdb

# Sensitive files
.env
